html {
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#backg {
    display: flex;
    justify-content: left;
}

h1{
    color: white;
    font-size: 3rem;
    
}
.dice-area {
    margin:0px 40px;
    text-align: center;
    display: inline-block;
}
#main {
    display: flex;
    justify-content: center;
}
h2{
    color: white;
}
p{
    color: white;
    font-size: 2.5rem;
}

img{
    width: 200px;
    height: 200px;

}